Assets/Reddit/images/reddit.jpg
Games/howtorun
test.py
requirements_new.txt
GoogleKey.json
joycon.py
__pycache__/animate_GIF.cpython-38.pyc
__pycache__/bluetooth_wrapper.cpython-38.pyc
__pycache__/bluetooth_wrapper.cpython-39.pyc
__pycache__/keyboard.cpython-38.pyc
__pycache__/keyboard.cpython-39.pyc
__pycache__/keywords.cpython-38.pyc
__pycache__/keywords.cpython-39.pyc
__pycache__/main.cpython-38.pyc
__pycache__/math_parser.cpython-38.pyc
__pycache__/math_parser.cpython-39.pyc
__pycache__/play_audio.cpython-38.pyc
__pycache__/play_audio.cpython-39.pyc
__pycache__/play_GIF.cpython-38.pyc
__pycache__/theme_select.cpython-39.pyc
__pycache__/translate_text.cpython-38.pyc
__pycache__/translate_text.cpython-39.pyc
__pycache__/user_data.cpython-38.pyc
features/requests/__init__.py
features/requests/__pycache__/__init__.cpython-39.pyc
features/requests/__pycache__/covid_cases.cpython-39.pyc
user_data.py
user_data.json
